{% extends "base.html" %}
{% block content %}

<div id="content">
  <center>
    <div style="max-width:1000px; overflow:hidden">
      <div style="background-color:black; width:5000px;" id="drag_me">
	<div class="row" style="max-width:9000px;">
	  <div class="two columns" style="background-color:blue; padding:0px 0px 0px 0px">
	    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	    <div class="row" style="max-width:9000px;">
	      <div class="two columns" style="background-color:blue; padding:0px 0px 0px 0px">
		<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	      </div>
	      <div class="two columns" style="background-color:orange; padding:0px 0px 0px 0px">
		<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	      </div>
	      <div class="two columns" style="background-color:yellow">
		<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	      </div>
	      <div class="two columns" style="background-color:green">
		<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	      </div>
	      <div class="two columns" style="background-color:purple">
		<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	      </div>
	      <div class="two columns" style="background-color:red">
		<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	      </div>
	    </div>

	  </div>
	  <div class="two columns" style="background-color:orange; padding:0px 0px 0px 0px">
	    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	  </div>
	  <div class="two columns" style="background-color:yellow">
	    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	  </div>
	  <div class="two columns" style="background-color:green">
	    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	  </div>
	  <div class="two columns" style="background-color:purple">
	    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	  </div>
	  <div class="two columns" style="background-color:red">
	    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	  </div>
	</div>
      </div>
    </div>
  </center>
  <div class="row">
    <div class="ten columns centered content_box">
      <center> <h2> This is the timeline page</h2> </center>
    </div>
  </div>
</div>

{% endblock %}
